@import 'reset';
@import url('/fonts/Jaldi/Jaldi-Regular.ttf');

body {
    //background-color: #DDDDDD;
    background: linear-gradient(to bottom, #EEEEEE 0%,#DDDDE4 100%);
}

a {
    font-family: 'Jaldi', sans-serif;
}

//$phi: 61.80340;


input[type="submit"], input[type="button"] {
    font-weight: bold;
    box-shadow: 0px 7px 15px 2px rgba(0,0,0,0.38);
    background: linear-gradient(to bottom, #33AAFF 0%,#0000FF 100%);
    border: 1px solid #000000;
    margin: 0 0 0 20px;
    color: #FFFFAA;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background: linear-gradient(to bottom, #99FFFF 0%,#33AAFF 100%);
        color: #000000;
    }

    &:active {
        background: linear-gradient(to bottom, #0000FF 0%,#33AAFF 100%);
        color: #FFFFFF;
    }
}

aside {
    //width: (100 - $phi) + vw;
    width: 15vw;
    height: 100vh;
    float: left;
    display: block;
    //background-color: #000000;
    background: linear-gradient(to right, #222230 0%,#151515 100%);
    overflow-y: auto;
    overflow-x: hidden;

    a {
        color: #FFFFFF;
        text-decoration: none;
        display: inline-block;
        width: 80%;
        padding: 5px;
    }
    
    li:hover {
        background-color: #559999;
        color: #000000;
        input[type="button"] {
            visibility: visible;
        }
    }

    input[type="button"] {
        width: 20px;
        margin: 0 0 0 5px;
        visibility: hidden;
        font-size: 10px;
        padding: 2px;
        display: inline;
        border-radius: 5px;
    }
}

textarea, .note-active {
    width: 70vw;
    height: 30vh;
    resize: none;
    background: linear-gradient(to bottom, #fcfbf2 0%,#fcf7de 100%);
    border: 1px solid #FFFF00;
    margin: 0 0 0 20px;
    border-radius: 10px;
    box-shadow: 0px 7px 67px 1px rgba(0,0,0,0.38);
    font-size: 40px;
    padding: 30px;
    overflow: auto;
    white-space: pre-line;
}

fieldset {
    height: 10vh;
}

// 0.6180340