@import 'calendar.scss';

body {
    font-family: arial;
    > .pane {
        background-color: #CCCCFF;
        border: 3px solid #000000;
        margin: 20px;
        padding: 20px;
        @media only screen and (max-width: 990px) {
            padding: 5px;
            margin: 5px;
        }
    }
}

form.editor label.label {
    width: 60px;
    display: inline-block;
}


.pane.editor textarea {
    width: 100%;
    height: 200px;
}