<!doctype html>
<html data-ng-app="notesApp">
  <head>
    <script src="/js/angular/angular.min.js"></script>
    <script src="/js/mastermind-notes.js"></script>
    <link rel="stylesheet" href="/css/page.css" />
  </head>
  <body>
    <div data-ng-controller="NotesListController as notesList">
      <aside>
        <ul>
          <li data-ng-repeat="note in notesList.notes">
            <input type="button" data-ng-click="notesList.remove(note)" value="X" />
            <a href="" data-ng-click="notesList.show(note)">{{note.title}}</a>
          </li>
        </ul>
      </aside>

      <main>
        <form data-ng-submit="notesList.create()">
          <fieldset>
            <input type="submit" value="Save and add Another" />
          </fieldset>
          <!--<textarea data-ng-model="notesList.notes[notesList.notes.length - 1].body"></textarea>-->
          <textarea data-ng-model="notesList.notes[notesList.notes.length - 1].body"></textarea>
          <article class="note-active">{{ noteActive.body }}</article>
        </form>
      </main>
  </body>
</html>

